<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iflym-core" parallel="false">
    <test verbose="1" name="iflym-core" annotations="JDK">
        <packages>
            <package name="io.iflym.core.*">
            </package>
        </packages>
    </test>
</suite>