<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iflym-mybatis" parallel="false">
    <test verbose="1" name="iflym-mybatis" annotations="JDK">
        <packages>
            <package name="io.iflym.mybatis.test.*">
            </package>
        </packages>
        <!--<classes>-->
        <!--<class name="io.iflym.mybatis.test.MapperTest"/>-->
        <!--</classes>-->
    </test>
</suite>